.board {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    height: calc(100vh - 70px);
    overflow-x: auto;
    overflow-y: visible;
}

.board::-webkit-scrollbar {
    height: 6px;
}

.board::-webkit-scrollbar-thumb {
    background: #d6d3d1;
    border-radius: 10px;
}
.label {
    padding: 3px 8px;
    font-size: 10px;
    border-radius: 999px;

    font-weight: 500;
    color: white;
}
/* add list */
.add-list {
    width: 270px;
    min-width: 270px;
    max-width: 270px;
    padding: 14px;

    background: #ffffff;
    border: 1px solid #e7e5e4;

    border-radius: 14px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    transition: 0.2s ease;
}

.add-list:hover {
    transform: translateY(-2px);
}

/* Input */
.add-list input {
    border: 1px solid #e7e5e4;
}

/* Button */
.add-list button {
    background: #1c1917;
}

.add-list button:hover {
    background: #44403c;
}