.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;

    background: #ffffff;
    border-bottom: 1px solid #e7e5e4;
}

/* Title */
.navbar h2 {
    font-size: 18px;
    font-weight: 600;
}

/* right */
.navbar-right {
    display: flex;
    gap: 10px;
}

/* input */
.navbar input {
    width: 220px;
    border: 1px solid #e7e5e4;
    background: #fafaf9;
}

/* select */
.navbar select {
    border: 1px solid #e7e5e4;
    background: #fafaf9;
}